@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffd9aa;
  --secondary-color: #855928;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 100px;
  font-size: 20px;
  width: 1000px;
}

main {
  align-self: center;
  margin-left: 900px;
}

main h1 {
  text-align: center;
}

h2 {
  font-size: 24px;
}

img {
  width: 585px;
}

.container {
  margin: auto;
  width: 400px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.096);
  margin-left: 750px;
  align-self: center;
}

.btn {
  cursor: pointer;
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  padding: 8px;
  font-family: "Quicksand", sans-serif;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus,
select:focus {
  outline: 0;
}

.btn-toggle {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.text-box {
  font-family: "Quicksand", sans-serif;
  width: 70%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -800px);
  background-color: #f6b668;
  color: var(--secondary-color);
  padding: 20px;
  border-radius: 5px;
  transition: all 1s ease-in-out;
}

.text-box.show {
  transform: translate(-50%, 0);
}

.text-box select {
  background-color: var(--secondary-color);
  font-family: "Quicksand", sans-serif;
  border: 0;
  color: #fff;
  font-size: 18px;
  height: 30px;
  width: 100%;
}

.text-box textarea {
  border: 1px #dadada solid;
  color: #000;
  border-radius: 4px;
  font-size: 18px;
  padding: 8px;
  margin: 15px 0;
  width: 100%;
  height: 150px;
  font-family: "Quicksand", sans-serif;
}

.text-box .btn {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

.text-box .close {
  float: right;
  text-align: right;
  cursor: pointer;
}

.speaker,
.stop {
  width: 40px;
  height: 40px;
  margin-left: 1400px;
  padding: 2px;
  cursor: pointer;
}
